html, body {
  margin: 0;
}

h1, h2, a {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

p {
  font-family: Helvetica, Arial, sans-serif;
   display: block;
   -webkit-margin-before: 1em;
   -webkit-margin-after: 1em;
   -webkit-margin-start: 0px;
   -webkit-margin-end: 0px;
}

div {
  display: block;
}

.container {
  width: 940px;
  margin: 0 auto;
  color: white;
}


/* Main */
.main {
  height: 600px;
  text-align: center;
  background: url(https://s3.amazonaws.com/codecademy-content/projects/move/bg.jpg);
  background-size: cover;
}

.main h1 {
  font-size: 150px;
  margin: 0;
}

.main p {
  font-size: 18px;
}
.main .btn {
	background-color: #000;
  color: #fff;
  font-size: 18px;
  padding: 8px 30px;
  text-decoration: none;
  display: inline-block;
}

/* Supporting */
.supporting {
   background-color: #1c1c1c;
  text-align: center;
  padding: 50px 0 80px; 
}

.supporting .col {
  float: left;
  width: 28%;
  padding: 10px;
}

.supporting h1,
.supporting h2 {
  color: #ffa800;
  font-size: 20px;
  margin-bottom: 10px;
}

.clearfix {
  clear: both;
}

.supporting p {
  color: #efefef;
  margin-bottom: 20px;
  line-height: 20px;
  font-size: 12px;
}

.supporting .btn {
  background-color: #eee;
  color: #1c1c1c;
  font-size: 18px;
  padding: 8px 30px;
  text-decoration: none;
  display: inline-block;
}

/* Feature */
.feature {
  background: url(https://s3.amazonaws.com/codecademy-content/projects/move/feature.jpg);
  background-size: cover;
  text-align: center;
  height: 600px;
}

.feature .container {
	position: relative;
  top: 200px;
}

.feature h1,
.feature h2 {
  color: #fff;
  font-size: 40px;
  margin: 0;
  padding:50px 0 0;
}

/* Footer */
.footer {
  background: url(https://s3.amazonaws.com/codecademy-content/projects/move/footer.jpg);
  background-size: cover;
  height: 600px;
  text-align: center;
}

.footer .container {
	position: relative;
  top: 200px;
}

.footer .btn {
    background-color: #1c1c1c;
    color: #fff;
    font-size: 18px;
    padding: 8px 30px;
    text-decoration: none;
    display: inline-block;
}

.footer h1,
.footer h2 {
  color: #fff;
  font-size: 40px;
  margin: 0 0 20px 0;
  padding:50px 0 0;
}

.footer p {
  color: #fff;
  margin: 0 0 20px 0;
  font-size: 18px;
}


@media (min-width:600px) {
  .main h1 {
    font-size: 200px;
  }

  .supporting .col {
    width: 30%;
  }

  .supporting h2 {
    font-size: 40px;
  }

  .supporting p {
    font-size: 14px;
  }

  .feature h2 {
    font-size: 60px;
  }
}